@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://media.licdn.com/dms/image/C4E16AQFiujzkqhMLAQ/profile-displaybackgroundimage-shrink_200_800/0/1635137694415?e=2147483647&v=beta&t=KfoHHXkMInkir2WQ0dWMGMV6dSgIiEXSUWTgI5aI2uQ" alt="Banner Image" width="100%" height="auto">
    <br />
    <h1 class="display-4">Prueba Tecnica DaCodes</h1>
    <br />
    <a class="btn btn-primary" asp-area="" asp-page="/CrudSchool/Index">Crud Escuelas</a>
</div>
